<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:be.container>
  <div class="typo3-fullDoc">
    <div id="typo3-docheader">
      <div class="typo3-docheader-functions" style="height: 4em;background-color: #d0d0d0; border-bottom: 1px solid #666666; padding: 1em;">
        <div class="left">
          <f:comment>
          <f:be.menus.actionMenu>
            <f:be.menus.actionMenuItem action="securityCheck" controller="Mod1" label="Security Check"/>
            <f:be.menus.actionMenuItem action="shaOne" controller="Sha1" label="Typo3 SHA-1"/>
            <f:be.menus.actionMenuItem action="plugins" controller="Mod1" label="Find Plugins"/>
            <f:be.menus.actionMenuItem action="rootTemplates" controller="Mod1" label="Find root TS-templates"/>
            <f:be.menus.actionMenuItem action="allTemplates" controller="Mod1" label="Find all TS-templates"/>
            <f:be.menus.actionMenuItem action="checkDomains" controller="Curl" label="robots.txt, sitemap.xml & 404"/>
          </f:be.menus.actionMenu></f:comment>
          <span class="btn btn-default"><f:link.action action="securityCheck" controller="Mod1">Security Check</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="shaOne" controller="Sha1">Typo3 SHA1</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="plugins" controller="Mod1">Plugins</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="rootTemplates" controller="Mod1">Root Templates</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="allTemplates" controller="Mod1">All Templates</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="allTemplatesNoCache" controller="Mod1">no_cache</f:link.action></span>
          <span class="btn btn-default"><f:link.action action="checkDomains" controller="Mod1">robots.txt, sitemap.xml & 404</f:link.action></span>
        </div>
        <div class="right">
          <f:if condition="{isComposerMode}">
            <f:then><span title="Dieses Typo3 ist eine Composer basierende Installation"><core:icon identifier="content-info"/> Composer Mode</span></f:then>
            <f:else><span title="Dieses Typo3 ist keine Composer Installaition"><core:icon identifier="content-info"/>Legacy Mode</span></f:else>
          </f:if>
          <f:comment>
            <f:be.pagePath/>
          </f:comment>
          <f:comment>
            <f:be.pageInfo/>
          </f:comment>
        </div>
      </div>
      <div class="typo3-docheader-buttons">
        <div class="left"></div>
        <div class="right">
          <f:comment>
            <f:be.buttons.shortcut/>
          </f:comment>
        </div>
      </div>

    </div>
    <div id="typo3-docbody">
      <div id="typo3-inner-docbody" style="margin: 2em;">
        <f:flashMessages/>
        <f:render section="content"/>
      </div>
    </div>
  </div>
</f:be.container>

</html>
