{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace tt=Taketool\Sysinfo\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">

  <h1>Domain Check</h1>
  <p>See wich Domains have robots.txt, sitemap.xml or 404</p>

  <table class="table" style="width: min-content;">
    <tr>
      <th>&nbsp;</th>
      <th>site</th>
      <th>base URL</th>
      <th>robots.txt</th>
      <th>sitemap.xml</th>
      <th>404</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <f:for each="{allDomains}" as="domain" key="id" iteration="i">
      <tr>
        <td>{i.cycle}</td>
        <td nowrap="true">
          <a title="Edit" class="btn btn-default" href="{tt:be.editSite(site: '{domain.site}')}">
            <core:icon identifier="actions-file-edit" size="small"/>
            {domain.site}
          </a>
        </td>
        <td nowrap="true">{domain.baseUrl}</td>
        <td id="robots-{domain.site}" style="color:gray; text-align: center;">
          <core:icon identifier="actions-question" size="small"/>
        </td>
        <td id="sitemap-{domain.site}" style="color:gray; text-align: center;">
          <core:icon identifier="actions-question" size="small"/>
        </td>
        <td id="404-{domain.site}" style="color:gray; text-align: center;">
          <core:icon identifier="actions-question" size="small"/>
        </td>
      </tr>
    </f:for>
  </table>
  <script src="/typo3conf/ext/sysinfo/Resources/Public/JavaScript/checkPages.js"></script>

</f:section>
