{namespace tt=Taketool\Sysinfo\ViewHelpers}
<f:layout name="Default"/>
<f:section name="content">
  <h1>Delete File</h1>
  <p>Deletion of [{file}]</p>

  <pre>{content}</pre>

  <p style="margin-top: 3em;">
    <f:link.action class="btn btn-default" action="securityCheck">zurück</f:link.action>
  </p>

</f:section>
<f:comment>
  https://test.taketool.net/typo3/index.php?
  route=/module/tools/InfoM1&token=65325b052ca36756bac2be7f06bd806db2fefaf1&
  tx_sysinfo_tools_infom1[action]=deleteFile&
  tx_sysinfo_tools_infom1[controller]=Mod1
</f:comment>