{namespace tt=Taketool\Sysinfo\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default"/>
<f:section name="content">
  <h1>Security Check</h1>
  <h3 >Items in red need your attention!</h3>

  <ol>
    <li><h4>fileDenyPattern altered</h4>
      <f:if condition="{isFileDenyPattern}">
        <f:then>
          <span style="color:red">$TYPO3_CONF_VARS['BE']['fileDenyPattern']: {fileDenyPattern}</span>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h4>$TYPO3_CONF_VARS['SYS']['trustedHostsPattern']</h4>
      <f:if condition="!{trustedHostsPattern}">
        <f:then><span style="color:red">Warning: no value set!</span></f:then>
        <f:else>{trustedHostsPattern}</f:else>
      </f:if>
      <f:if condition="{trustedHostsPattern_disabled}"><span style="color:red">Warning: hosts pattern check disabled!</span></f:if>
      <f:if condition="{trustedHostsPattern_isDefault}">(Default: SERVER_NAME)</f:if>
    </li>

    <li><h4>$TYPO3_CONF_VARS['BE']['fileExtensions']['webspace']['allow']</h4>
      <f:if condition="!{webspace_allow}">
        <f:then>(empty)</f:then>
        <f:else>{webspace_allow}</f:else>
      </f:if>
    </li>

    <li><h4>$TYPO3_CONF_VARS['BE']['fileExtensions']['webspace']['deny']</h4>
      <f:if condition="!{webspace_deny}">
        <f:then>(empty)</f:then>
        <f:else>{webspace_deny}</f:else>
      </f:if>
    </li>

    <li><h4>/index.php altered</h4>
      <f:comment>
        In composer mode: index.php is a file w/ a len of x bytes (todo: should not be apache-writable)
        In classic mode: index.php must be a symlink (todo: to typo3_src/index.php)
      </f:comment>
      <f:if condition="{isComposerMode}">
        <f:then>
          <f:if condition="{indexSize} != {indexSize_shouldBe}">
            <f:then>
              <span  style="color: red">/index.php seems to be altered</span><br/>
              {publicPath}/index.php {indexSize} instead of {indexSize_shouldBe} bytes.
              <pre><f:render section="list1File" arguments="{file:indexPhp}"/></pre>
            </f:then>
            <f:else>
              - Ok<br/>
            </f:else>
          </f:if>
        </f:then>
        <f:comment>legacy mode</f:comment>
        <f:else>
          <f:if condition="{isIndexSymlink}">
            <f:then>- Ok</f:then>
            <f:else><span  style="color: red">/index.php is not a symlink</span></f:else>
          </f:if>
        </f:else>
      </f:if>
    </li>

    <li><h4>existing /php_errors.log</h4>
      <f:if condition="{isPhpErrors}">
        <f:then>
          <span style="color: red">This file should not be there, check content for illegal activities and delete</span>
          <pre><f:render section="list1File" arguments="{file:phpErrors,short:phpErrors.short}"/></pre>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h4>illegal php files on webroot</h4>
      <f:if condition="{isWebrootPhps}">
        <f:then>
          <span style="color: red">These files should not be there, check content for illegal activities and delete</span>
          <pre><f:for each="{webrootPhps}" as="file"><f:render section="list1File" arguments="{file:file,short:file.short}"/></f:for></pre>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h4>illegal files in /typo3temp/</h4>
      <f:if condition="{isTypo3tempPhps}">
        <f:then>
          <span style="color:red;">The following illegal files have been found in /typo3temp/</span><br/>
          <f:spaceless>
            <pre><f:for as="file" each="{typo3tempPhps}"><f:render section="list1File" arguments="{file:file,short:file.short}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h4>illegal files in /typo3conf/</h4>
      <f:if condition="{isTypo3confPhps}">
        <f:then>
          <span style="color:red;">The following possible illegal files have been found in /typo3conf/  (<f:count subject="{typo3confPhps}" />)</span><br/>
          <f:spaceless>
            <pre><f:for as="file" each="{typo3confPhps}"><f:render section="list1File" arguments="{file:file,short:file.short}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <f:if condition="!{isComposerMode}">
    <li><h4>illegal files in /uploads/</h4>
      <f:if condition="{isTypo3uploadsPhps}">
        <f:then>
          <span style="color:red;">The following possible illegal files have been found in /uploads/  (<f:count subject="{uploadsPhps}" />)</span><br/>
          <f:spaceless>
            <pre><f:for as="file" each="{uploadsPhps}"><f:render section="list1File" arguments="{file:file,short:file.short}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li></f:if>

    <li><h4>suspicious files</h4>
      <f:if condition="{isSuspiciousPhps}">
        <f:then>
          <span style="color:red;">The following files contain suspicious code (<f:count subject="{suspiciousPhps}" />)</span><br/>
          <f:spaceless>
            <pre><f:for as="line" each="{suspiciousPhps}"><f:render section="list1File" arguments="{file:line.file,lnr:line.lnr,code:line.code,short:line.short}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

  </ol>
</f:section>

<f:section name="list1File">
  {file.stat.mode} <f:format.printf arguments="{1: file.stat.ow_gr}">%-16s</f:format.printf> <f:format.printf arguments="{1: file.stat.size}">%9s</f:format.printf> {file.stat.ctime->f:format.date(format:'M d Y')} <f:link.action title="{lnr}:{code}" action="viewFile" arguments="{file:file.file}">{file.short}</f:link.action>
</f:section>

<f:debug>{_all}</f:debug>