{namespace tt=Taketool\Info\ViewHelpers}
<f:layout name="Default"/>
<f:section name="content">
  <h1>Security Check</h1>
  <p>Items in red need your attention!</p>

  <ul>
    <li><h5>fileDenyPattern altered</h5>
      <f:if condition="{isFileDenyPattern}">
        <f:then>
          <span style="color:red">$TYPO3_CONF_VARS['BE']['fileDenyPattern']: {fileDenyPattern}</span>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h5>$TYPO3_CONF_VARS['BE']['fileExtensions']['webspace']['allow']</h5>
      <f:if condition="!{webspace_allow}">
        <f:then>(empty)</f:then>
        <f:else>{webspace_allow}</f:else>
      </f:if>
    </li>

    <li><h5>$TYPO3_CONF_VARS['BE']['fileExtensions']['webspace']['deny']</h5>
      <f:if condition="!{webspace_deny}">
        <f:then>(empty)</f:then>
        <f:else>{webspace_deny}</f:else>
      </f:if>
    </li>

    <li><h5>/index.php altered</h5>
      <f:if condition="{indexSize} != {indexSize_shouldBe}">
        <f:then>
          {publicPath}/index.php altered: {indexSize} instead of {indexSize_shouldBe} bytes.
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h5>unexpected php files on webroot {publicPath}</h5>
      <f:if condition="{isIndexPhps}">
        <f:then>
        <pre><f:for each="{indexPhps}" as="file">
                <f:render section="list1File" arguments="{file:file}"/>
            </f:for>
        </pre>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h5>existing /php_errors.log</h5>
      <f:if condition="{isPhpErrorsLogOnRoot}">
        <f:then>
          <li style="color: red">
            This file should not be there &gt;
            <f:link.action action="viewFile" arguments="{file:phpErrorsPath}">view content</f:link.action>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h5>illegal files in /typo3temp/</h5>
      <f:if condition="{isTypo3tempPhps}">
        <f:then>
          <span style="color:red;">The following illegal files have been found in /typo3temp/</span><br/>
          <f:spaceless>
            <pre><f:for as="file" each="{typo3tempPhps}"><f:render section="list1File" arguments="{file:file}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

    <li><h5>illegal files in /typo3conf/</h5>
      <f:if condition="{isTypo3confPhps}">
        <f:then>
          <span style="color:red;">The following possible illegal files have been found in /typo3conf/</span><br/>
          <f:spaceless>
            <pre><f:for as="file" each="{typo3confPhps}"><f:render section="list1File" arguments="{file:file}"/></f:for></pre>
          </f:spaceless>
        </f:then>
        <f:else>
          - Ok<br/>
        </f:else>
      </f:if>
    </li>

  </ul>
</f:section>

<f:section name="list1File">
  <f:spaceless>
    {file.stat.mode}
    <f:format.printf arguments="{1: file.stat.ow_gr}">%-16s</f:format.printf>
    <f:format.printf arguments="{1: file.stat.size}">%9s</f:format.printf>
    {file.stat.ctime->f:format.date(format:'M d Y')}
    <f:link.action action="viewFile" arguments="{file:file.file}">{file.file}</f:link.action>
  </f:spaceless>
</f:section>

<f:debug>{_all}</f:debug>