{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace tt=Taketool\Sysinfo\ViewHelpers}

<f:layout name="Default"/>
<f:debug>{_all}</f:debug>
<f:section name="content">

  <h1>Typo3 SHA-1 check</h1>
  <p>See which source files (php, js) do not match LTS version</p>
  <p>Using baseline from file "typo3_{t3version}_files.txt.gz" (ca. 5.500 files to check)</p>

  <f:if condition="{msg->f:count()}">
    <f:then>
      <p><span style="color:red;"><core:icon identifier="actions-message-ok-close"/></span>
        Error: <f:for as="ms" each="{msg}">{ms}<br/></f:for></p>
    </f:then>
    <f:else>
      <f:if condition="{shaMsg->f:count()}">
        <f:then>
          <p><span style="color:red;"><core:icon identifier="actions-message-ok-close"/></span> Files that do not match ({shaMsg->f:count()}):
          <pre><f:for as="msg" each="{shaMsg}" key="file">{msg} {file}<br/></f:for></pre>
          </p>
        </f:then>
        <f:else>
          <span style="color:green;"><core:icon identifier="actions-check-circle-alt"/></span> All checked files match.
        </f:else>
      </f:if>
    </f:else>
  </f:if>

</f:section>

