{namespace tt=Taketool\Sysinfo\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">

  <f:flashMessages />

  <h1>Syslog</h1>
  <p>For more detailed and feature-rich error management, you might want to check out <a target="_blank" href="https://typo3.org/article/introducing-the-advanced-error-log-extension">EXT:error_log</a></p>

  <h3>Summary</h3>
  <p>We read a max of {cntLogs} log entries</p>
  <table>
    <thead><th>&nbsp;</th><th>Count</th><th>&nbsp;</th><th>Error description</th></thead>
    <tbody>
    <tr>
      <td><f:if condition="{logType} != 0"><f:link.action arguments="{logType: 0}" action="syslog"><core:icon identifier="actions-eye" /></f:link.action></f:if></td>
      <th style="text-align: right;">{logsCount.0}</th>
      <td>&nbsp;</td>
      <td>0: message, a notice of an action that happened</td>
    </tr>
    <tr>
      <td><f:if condition="{logType} != 1"><f:link.action arguments="{logType: 1}" action="syslog"><core:icon identifier="actions-eye" /></f:link.action></f:if></td>
      <th style="text-align: right;">{logsCount.1}</th>
      <td>&nbsp;</td>
      <td>1: error, typically a permission problem for the user</td>
    </tr>
    <tr>
      <td><f:if condition="{logType} != 2"><f:link.action arguments="{logType: 2}" action="syslog"><core:icon identifier="actions-eye" /></f:link.action></f:if></td>
      <th style="text-align: right;">{logsCount.2}</th>
      <td>&nbsp;</td>
      <td>2: System Error, something which should not happen for technical reasons</td>
    </tr>
    <tr>
      <td><f:if condition="{logType} != 3"><f:link.action arguments="{logType: 3}" action="syslog"><core:icon identifier="actions-eye" /></f:link.action></f:if></td>
      <th style="text-align: right;">{logsCount.3}</th>
      <td>&nbsp;</td>
      <td>3: Security notice, like login failures</td>
    </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>
  <f:form
      id="syslogDelete-allByType"
      action="syslogDelete"
      arguments="{logType: logType}"
      style="margin-top: -1.8em;">
    <f:form.button name="uidList" value="DeleteAllThisTypeSysLogEntries" style="border: 1px solid; margin-top:.3rem;"><core:icon identifier="actions-delete" /> Delete all entries of selected type</f:form.button>
  </f:form>

  <h3>Top 20 {logCategory}</h3>
  <f:if condition="{msg}">
    <f:then>
      <p>{msg}</p>
    </f:then>
    <f:else>
      <p>Total errors: {cntErrors}, {cntErrorsShown} in this list</p>
      <table>
        <thead>
          <th>Count</th>
          <th>Last timestamp</th>
          <th>&nbsp;&nbsp;&nbsp;</th>
          <th>Message</th>
        </thead>
        <tbody>
        <f:for each="{logs}" as="log" iteration="i">
          <tr>
            <th valign="top">{log.cnt}</th>
            <td style="vertical-align: top" nowrap="true">{log.ts -> f:format.date(format:'%d.%m.%Y %H:%M')}&nbsp;&nbsp;</td>
            <td style="vertical-align: top; padding-right: 1em;" nowrap="true">&nbsp;
              <f:form
                  id="syslogDelete-{i.index}"
                  action="syslogDelete"
                  arguments="{logType: logType}"
                  style="margin-top: -1.8em;">
                <f:form.button name="uidList" value="{log.uidList}" style="border: 1px solid; margin-top:.3rem;"><core:icon identifier="actions-delete" /></f:form.button>
              </f:form>&nbsp;
            </td>
            <td style="vertical-align: top;">{log.detail}</td>
          </tr>
        </f:for>
        </tbody>
      </table>
    </f:else>
  </f:if>

</f:section>
</html>