{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace tt=Taketool\Sysinfo\ViewHelpers}

<f:layout name="Module"/>

<f:section name="Content">

  <f:flashMessages />

  <h1>Typo3 SHA-1 check</h1>
  <h4>See which source JS-files do not match latest LTS version</h4>
  <p>Using baseline from file "/Resources/Private/SHA1/{t3version}/typo3_files_js.txt.gz"</p>

  <f:if condition="{msg->f:count()}">
    <f:then>
      <p><span style="color:red;"><core:icon identifier="actions-check"/></span>
        Error: <f:for as="ms" each="{msg}">{ms}<br/></f:for></p>
    </f:then>
    <f:else>
      <f:if condition="{shaMsg->f:count()}">
        <f:then>
          <p><span style="color:red;"><core:icon identifier="actions-close"/></span> Files that do not match ({shaMsg->f:count()}):
          <pre><f:for as="msg" each="{shaMsg}" key="file">{msg} {file}<br/></f:for></pre>
          </p>
        </f:then>
        <f:else>
          <span style="color:green;"><core:icon identifier="actions-check"/></span> All checked files match.
        </f:else>
      </f:if>
    </f:else>
  </f:if>
  <br/>
  <span class="btn btn-default"><f:link.action action="shaOne">back</f:link.action></span>
</f:section>

