<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">

  <h1>EXT:sysinfo</h1>
  <p>Please select an option to continue.</p>

  <h5>Flexform Insight</h5>
  <p>Show some migration relevant values for tt_content.pi_flexform</p>

  <h5>Deprecations</h5>
  <p>Show deprecations non-redundant</p>

  <h5>File Check</h5>
  <p>- Files in FAL, but not in filesystem<br>
    - Files in Filesystem, but not in FAL<br>
    (May takes a while if you have a huge installation)
  </p>

  <h5>Syslog</h5>
  <p>Top 20 system errors by quantity</p>

  <h5>Security Check</h5>
  <p>various security checks</p>

  <h5>Typo3 SHA1</h5>
  <p>Check for altered files (may not be up-to-date)</p>

  <h5>Plugins</h5>
  <p>Find CType and list_type in use</p>

  <h5>Templates</h5>
  <p>Find root or all templates</p>

  <h5>robots.txt, sitemap.xml and 404</h5>
  <p>Access pages that should be there (Takes a while if you have many sites)</p>

</f:section>

</html>
